/build/
/gitignored/

### https://raw.github.com/github/gitignore/65398389a9df02fdad7e8292ce2ee1a64c7d77ee/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


